@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Sofia+Sans+Condensed:ital@0;1&display=swap");



:root {
    --par-font-family: "Neucha", cursive;
                                                
}

.markf{font-family: 'Marker Felt', sans-serif;}
.lhgh{
    line-height: 30px;
}

.par-font-fam {
    font-family: var(--par-font-family);
}

body {
    overflow-x: hidden;
    background-color: #171717;
    font-family: var(--par-font-family);
}

.headerclass {
    background-color: #000000;
    height: 100vh;
}

.headerback {
    position: relative;
    background-image: url("./images/bubble.v03.png");
    background-size: 100% 100%;
    font-family: var(--mark-font-family);
    height: 100vh;
    width: 100vw;
}

.headBubble {
    height: 100vh;
    width: 100vw;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: 0.2s;
}
.scrolled{
    background-color: #171717;
    border-bottom: 1px solid rgb(155, 155, 155);
}

.buttonBuy {
    background-image: url("./images/button.v02.png");
    /* background-color: rgb(204, 54, 79); */
    background-size: 100% 100%;
    color: white;
    width: 150px;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 27, 27);
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid rgb(108, 17, 32);
    border-radius: 10px;
}

.upper {
    position: relative;
    margin-top: -5em;
    z-index: 3;
}

.cardsbox {
    position: absolute;
    height: 450px;
    z-index: 3;
    top: 22%;
    left: 40vw;
    animation: cardsBox 1.3s ease-in-out forwards;
}
.starss {
    position: absolute;
    height: 700px;
    z-index: 3;
    top: 2%;
    left: 7.5vw;
    animation: puffs 0.7s ease-in-out forwards;
}

.cardsleft {
    position: absolute;
    height: 350px;
    z-index: 0;
    animation: cardsLeftAnim 1.3s ease-in-out forwards;
}

.cardsright {
    position: absolute;
    height: 350px;
    z-index: 0;
    animation: cardsRightAnim 1.3s ease-in-out forwards;
}

.pickbtn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 6px;
    margin: 0 5px;
}

.opt-in-bal {
    background-image: url("./images/bubbleOpt.png");
    background-size: 100% 100%;
    width: 100vw;
    padding: 250px 350px;
}
.fm-l{
    font-size: 20px;
}
.ltr-space{letter-spacing: 1px;}
@media only screen and (min-width: 700px) {
    .font-large{font-size: larger;}
    .font-lm{font-size: 21.5px}
    .font-sm{font-size: 12px}
    .widthsm{width: 270px; margin-left: 4.5em}
    .pdr{padding-left: 6em;}
    .toright{
        margin-right: 5em;
        padding-right: 5em;
    }
}

.accordion-button::after{
   display: none;
}

.navbar-branda {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }

.navbar-branda::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 17%;
    width: 70%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .navbar-branda:hover::after,
  .navbar-branda:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .li a:hover::after,
  .li a:focus::after{
    transform: scale(1);
  }